a
{
    
    &.icon
    {
        &.delete:hover
        {
            color: red;
            transition: 0.2s;
        }

        &.edit:hover
        {
            color: rgb(241, 206, 8);
            transition: 0.2s;
        }

        &.up
        {
            color: rgb(0, 110, 255);
        }

        &.down
        {
            color: red;

            &:hover
            {
                color: red;
            }
        }
    }
}