body {
    padding-top: 56px;
}

#ideas
{
    margin-top: 555px;
}

.idea
{
    background-color: black;
    padding: 57px;
    border-left: solid 6px white;
    border-top: solid 6px white;



    &:hover
    {
        border: solid 6px gold;
         margin: 10px;
        transform: scale(1.04);
        transition: 0.4s;
        
    }

    hr.bl
    {
        border-color: gold;
        border-width: 0.25rem;
        width: 30%;  
    }
}

div.container-fluid
{
    position: absolute;
    margin: 0 250px;
    width: 1023px;
    height: 560px;
    z-index: 1000;

    div.container
    {
        margin-top: 17px;
        // margin-left: 250px;
    }
}

a.vox
{
    text-decoration: none;
    font-size: 18px;
    color: gold;
    font-weight:bold;

    &:hover
    {
        color: white;
        transition: 0.5s;

    }
}

a.fbbut
{
    color: gold;
    font-size: 92px;
    margin-top: 339px;
    margin-left: 539px;

    &:hover
    {
        color: rgb(3, 68, 245);
        transition: 0.5s;
    }
    
}

a.instbut
{
    color: gold ;
    font-size: 80px;
    margin-top: 348px;
    margin-left: 710px;

    &:hover
    {
        color: #ffb300;
        transition: 0.5s;
    }
    
}

a,a.dropdown-item
{
    color: rgba(240, 248, 255, 0.425);
    
    &:hover
    {
        text-decoration: none;
        background-color: transparent ;
        color: gold;
        transition: 0.3s;
    }   

}

a
{
    color: white;
}

a.twittbut
{
    color: gold;
    font-size: 80px;
    margin-top: 348px;
    margin-left: 871px;

    &:hover
    {
        color: #55ddff;
        transition: 0.5s;
    }
    
}

.btn-outline-gold {
	color:#eece1b !important;
	background-color: white;
	border: solid 1px gainsboro !important;
	// box-shadow: 0.5px 0.5px 1px 0.4px gainsboro;
	border-radius: 0px !important;
	overflow: hidden !important;
	&:hover
	{
		border: solid 1px #f4d835 !important;
		background-color: #eece1b;
		color: whitesmoke !important;
		transition: 0.5s;
	}
}

a.circle
{
  background-color:#343a38;
  border-radius: 100px;
  padding: 10px;
  text-decoration: none;
  
  &.like
  {
    color: green;
    font-size: 16px;

    &:hover
    {
      color: greenyellow;
      scale: 1.1;
      transition: 0.5s;
    }
  }

  &.dislike
  {
    color: red;
    font-size: 16px;

    &:hover
    {
      color: rgb(255, 112, 112);
      scale: 1.1;
      transition: 0.5s;
    }
  }
}
