body {
  padding-top: 56px;
}

#ideas {
  margin-top: 160px;
}

.idea {
  background-color: black;
  padding: 57px;
  border-left: solid 6px white;
  border-top: solid 6px white;
}

.idea:hover {
  border: solid 6px gold;
  margin: 10px;
  transform: scale(1.04);
  transition: 0.4s;
}

.idea hr.bl {
  border-color: gold;
  border-width: 0.25rem;
  width: 30%;
}

div.container-fluid {
  position: absolute;
  margin: 0 250px;
  width: 1023px;
  height: 560px;
  z-index: 1000;
}

div.container-fluid div.container {
  margin-top: 17px;
}

a.vox {
  text-decoration: none;
  font-size: 18px;
  color: gold;
  font-weight: bold;
}

a.vox:hover {
  color: white;
  transition: 0.5s;
}

a.fbbut {
  color: gold;
  font-size: 92px;
  margin-top: 339px;
  margin-left: 539px;
}

a.fbbut:hover {
  color: #0344f5;
  transition: 0.5s;
}

a.instbut {
  color: gold;
  font-size: 80px;
  margin-top: 348px;
  margin-left: 710px;
}

a.instbut:hover {
  color: #ffb300;
  transition: 0.5s;
}

a,
a.dropdown-item {
  color: rgba(240, 248, 255, 0.425);
}

a:hover,
a.dropdown-item:hover {
  text-decoration: none;
  background-color: transparent;
  color: gold;
  transition: 0.3s;
}

a {
  color: white;
}

a.twittbut {
  color: gold;
  font-size: 80px;
  margin-top: 348px;
  margin-left: 871px;
}

a.twittbut:hover {
  color: #55ddff;
  transition: 0.5s;
}

.btn-outline-gold {
  color: #eece1b !important;
  background-color: white;
  border: solid 1px gainsboro !important;
  border-radius: 0px !important;
  overflow: hidden !important;
}

.btn-outline-gold:hover {
  border: solid 1px #f4d835 !important;
  background-color: #eece1b;
  color: whitesmoke !important;
  transition: 0.5s;
}

a.circle {
  background-color: #343a38;
  border-radius: 100px;
  padding: 10px;
  text-decoration: none;
}

a.circle.like {
  color: green;
  font-size: 16px;
}

a.circle.like:hover {
  color: greenyellow;
  scale: 1.1;
  transition: 0.5s;
}

a.circle.dislike {
  color: red;
  font-size: 16px;
}

a.circle.dislike:hover {
  color: #ff7070;
  scale: 1.1;
  transition: 0.5s;
}

